@media screen and (max-height: 910px) {
	.orders-win {
		height: 20rem;
	}
}
@media screen and (max-height: 800px) {
	.orders-win {
		height: 15rem;
	}
}
@media screen and (min-height: 768px) and (max-height: 1600px) {
	.aside-bottom {
		position: absolute;
		bottom: 1em;
		left: 0;
		width: 100%;
	}
	aside {
		.orders-total {
			position: absolute;
			bottom: 9rem;
		}
		.aside-btns {
			position: absolute;
			bottom: 4.5rem;
			left: 0;
			width: 100%;
		}
	}
}
@media screen and (min-height: 0) and (max-height: 700px)  {
	.footer-links {
		margin-bottom: 10px !important;
	}
}
@media screen and (min-height: 0) and (max-height: 767px)  {
	body {
		position: relative;
		height: 620rem / @htmlFontSize;
	}
}
@media screen and (min-height: 250px) and (max-height: 767px)  {
	html {
		font-size: 15.5px;
	}
	h1 {
	    margin: .67rem 0 .37rem;
	}
	.cart-win {
		margin: 1.8125rem 0 .8rem;
	}
    .orders-win {
    	height: 14rem;
    }
    .orders-total {
    	margin: 0 0 7rem / @htmlFontSize 1.8rem;
    }
    aside {
    	.footer-links {
    		position: absolute;
		    bottom: 0.938rem;
		    left: 0;

		    width: 100%;
		}
    }
    .prod-type {
    	.prod-item {    		
    		margin: 0 2rem 0 0;
    	}
    }
}

//Width queries
@media screen and (max-width: 1500px) {
	.product {
		.product-in {
	    	background-size: 60% auto;
		}
	}
}
@media screen and (max-width: 1140px) {
	.product {
		.product-in {
	    	background-size: 60% auto;
	    }
	}
	.review-wrapper {
		.review-cont {
			width: 35rem;
		}
	}
}
@media screen and (max-width: 1064px) {
	.select-block {
		left: 5%;
	}
}
@media screen and (max-width: 960px) {
	html {
		font-size: 14px;
	}
	.select-block {
		left: 0;
	}
	.product {
		.product-in {
	    	background-size: 70% auto;
	    }
	}
}
@media screen and (max-width: 860px) {
	html {
		font-size: 13px;
	}	
	.right-line {
		width: 59px !important;
	}
}
@media screen and (max-width: 800px) {
	html {
		font-size: 12px;
	}	
	html, body {
		min-width: 767px;
	}
	.review-wrapper {
		.review-cont {
			width: 30rem;
		}
	}
}
//Mobile version
@media screen and (max-width: 640px) {
	.ord-scroll {
		margin-top: 0;
	}
	.mobile-switch {
		display: block !important;
	}
	.ordered .orded-title {
		font-size: 1.5rem;
	}
	.ordered .orded-text {
		font-size: 1.2rem;
	}
	.ordered .orded-close {
		font-size: .9rem;
	}
	.map-wrapper .season {
		top: 235rem / @htmlFontSize;
	}
	.ur-order {
		display: block;
	}
	.drinks a span {
		margin-left: 0 !important;
	}
	.actions-wrapper main .season {
		top: 12.5rem;
	}
	.carousel {
		.act-text {
			visibility: visible;
		}
		ul li {
			.primary-food, .secondary-food {
				display: none;
			}
		}
	}
	.terms {
		display: none;
	}
	.map-wrapper:before {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	    content: "";
	    height: 13rem;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 5;
	}
	.phone-block {
		z-index: 5;
	}
	.review-wrapper {
		.review-cont {
			width: 80%;
			left: 10%;
		}
	}
	.orders-ul .order-prods .xl-port {
		line-height: 12px;
	}
	.buy-block .cart-names .mobile-switch,
	aside .mobile-switch {
		display: block;
	}
	.mobile-order-view aside h1 {
		top: 0;
	}
	.mobile-ordername {
		.transition;
	    color: #FFFFFF;
	    display: block;
	    font-size: 1.6em;
	    left: 0;
	    position: absolute;
	    text-align: center;
	    top: 1.2rem;
	    width: 100%;
	    cursor: pointer;
	    opacity: 0;

	    &.orders-active {
	    	top: -48%;
	    	opacity: 1;
	    }
	}
	h1 {
			position: absolute;
			top: -100%;
			left: 0;

			margin: 14rem / @htmlFontSize 0 0 16rem / @htmlFontSize;
		}
	html, body {
		min-width: 0;
		height: 100%;
		min-height: 580px;
	}
	.wrapper {
		overflow: hidden;
	}
	//Overlays
	.p_order {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);

		.ord-block {
			width: 80%;
			font-size: 1.25em;

			.ord-body {
				padding: .8125rem 1.4375rem;
			}

			.ord-title {
				.ord-tit-block {
					width: 45%;
				}
				.ord-cross {
					width: 10%;
				}
			}
		}
		.sms-pass {
		    display: inline-block;
		    font-size: 0.95rem;
		    line-height: 1em;
		    vertical-align: bottom;
		}
	}
	aside .add-to-cart, aside .make-order {
		-webkit-transform: translate(0, 500%);
			transform: translate(0, 500%);
			.transition(all, 1.5s, ease);
	}
	// Aside active
	.mobile-order-view {
		aside {
			top: 0;
		}
		main {
			-webkit-transform: translate(0, -100%);
			transform: translate(0, -100%);
		}
		aside .add-to-cart, aside .make-order {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	aside {
		.transition;
		width: 100%;
		left: 0;
		top: 100%;
		background: none;

		h1 {
			.transition;
			position: absolute;
			top: -100%;
			left: 0;

			margin: 14rem / @htmlFontSize 0 0 16rem / @htmlFontSize;
		}
		.prod-type {
			position: absolute;
			top: -100%;
			left: 0;

			width: 100%;
			margin: 5.2rem 0 0;
			text-align: center;

			.prod-item {
				width: 4rem;
				height: 4rem;
				margin: 0 15% 0 0;
			}
		}
		.prod-select {
			position: absolute;
			top: -100%;
			left: 0;

			width: 100%;
			height: .75rem;
			margin: 10.2rem 0 0;
			text-align: center;
		}
		.cart-win {
			//overflow: visible;
			margin: 6.813rem 0 0.8rem;
		}
		.orders-win {
		    height: 22rem;
		    padding: 2rem 0 0 0;
		    font-size: 1.3em;
		    width: 100%;

		    .orders-li {
		    	width: 80%;
		    	font-size: 1.5em;

		    	.name {
		    		.name-input {
		    			display: none;
		    		}
		    	}
		    	.right-line {
		    		right: -2px;
				    top: 0;
				    width: 20rem / @htmlFontSize !important;
		    	}
		    }

	    	.orders-price,
	    	.orders-price:last-child {
			    font-size: 1.6em;
			    margin-top: .6rem;
			    margin-left: 6rem;
			}
		}
		.orders-total {
			position: absolute;
			bottom: 7rem;
			width: 100%;
			margin: 0;
			text-align: center;
		}
		.orders-ul .order-prods dt {
		    padding: 0 4.85rem 0 0;
		}
		.orders-ul .order-prods .xl-port {
		    margin: 0 0.5rem;
		}
		.orders-ul .order-prods .prods-cross {
		    background: url("../img/cross.svg") no-repeat scroll 0 center e('/') 100% 100% rgba(0, 0, 0, 0);
		}
		.add-to-cart {
			display: none;
		}
		.add-to-cart,
		.make-order {
			font-size: 1.2em;
		    height: 3.188rem;
		    line-height: 2.563rem;
		    margin: 0 auto 1rem;
		    width: 60%;
		    outline: none;
		}
		.footer-links {
			display: none;
			bottom: auto;
			top: 1.5625rem;
			right: 1.875rem;
			margin: 0;
			text-align: right;

			.visa {
				display: none;
			}
			.mcard {
				display: none;				
			}
			li {
				margin: 0;
			}
			li:last-child {
				margin-right: 1.475rem;
			}
			a {
				margin-left: 1.75rem;
			}
		}
	}
	aside {			
		.aside-btns {
			position: absolute;
			width: 100%;
			bottom: 1.2rem !important;
		}
	}
	
	main {
		top: 0;
		left: 0;
	}
	.double-port {
		position: absolute;
		top: 11rem;
		margin: 0;

		span {
			display: none;
		}
	}
	.select-block {
		width: 70%;

		.product-item {
			&:hover {
				background:	none;
			}
		}
		.select-title {
			padding-top: 0;
			font-size: 20rem / @htmlFontSize;
			width: 70%;
			.weight-info {
				opacity: 1;
			}
		}
		&.select-add {
			top: 13rem;
			background: none;

			.select-arrow {
				display: none;
			}
			.product-info {
				display: none;
			}
		}
		&.select-main {
			bottom: 8rem;
			background: none;

			.select-arrow {
				display: none;
			}
			.product-info {
				display: none;
			}
		}
	}
	.buy-block {
		.transition;
		width: 70%;
		bottom: 2.5rem;

		&.orders-active {
			bottom: 5.5rem;
			z-index: 5;

			.price {
				margin: 0 0 6.5rem
			}
		}

		.price {
			width: 114%;
			text-align: right;
			margin: 0 0 9.5rem;
			font-size: 2.2em;

			span {
				top: -.4em;
			}
		}
		.add-to-cart {
			position: relative;
			width: 70%;
			left: 25px;
			height: 3.188rem;
    		line-height: 2.563rem;
    		font-size: 1em;	
    		outline: none;
		}
		.cart-names {
			height: 0;
			text-align: center;
		}
		.cart-name {
			display: none;
			position: relative;
			width: 70%;
			margin: 0 auto;

			height: 3.188rem;
    		line-height: 2.563rem;
    		font-size: 1.2em;
		}
	}
	.autoselect {
		display: none;
	}
	.phone-block {
		right: 0;
		margin: 0 1.875rem 0 0;

		.phone {
			display: none;
		}

		.phone-icons {
			a {
				margin-left: 1.75rem;
			}
		}
	}

	.select-block.opened {
		top: 0;
		bottom: 0;
		width: 100%;
		max-height: auto;
		z-index: 999;
		background: rgba(0, 0, 0, .85);
	}
}
@media screen and (max-width: 600px) {
	.overlay .inp-div:not(.code-elem) {
		width: 100% !important;
		margin-left: 0;
	}
	.overlay .inp-div {
		margin-bottom: 15px;
		height: 25px;
	}
	.p_order.faded {
		height: 650px;
	}
	.overlay .inp-row.textarea .inp-div {
		height: 75px;
	}
	.overlay .inp-row:first-child {
		margin-top: 25px;
	}
	.overlay .agree, .p_order .sms-pass {
		font-size: 12px !important;
	}
	.overlay .ord-next {
		font-size: 15px;
		height: 50px;
	}
	.inp-row {
		height: auto !important;
		margin-bottom: 0 !important;

		.clearfix;
	}
	.phone-block .ph-map, .phone-block .ph-wok, .phone-block .ph-star {
		width: 2rem;
		height: 2.5rem;
	}
	.pay-title {
		font-size: 1.25rem !important;
	}
	.pay-info {
		font-size: 1rem !important;
	}
	.inp-place {
		height: 35px;
		line-height: 35px;
	}
	input.order-inp {
		height: 35px !important;
	}
	.p_order .ord-block {
		position: absolute;
		top: 0;
		width: 100% !important;
		border: 0 none;
		font-size: 1.3em !important;
	}
	.overlay .ord-body {
		border-bottom: 0 none;
		border-left: 0 none;
		border-right: 0 none;
	}
}
@media screen and (max-width: 480px) {
	html,
	body {
		min-height: 520px;
	}
}
@media screen and (max-width: 420px) {
	html {
		font-size: 12px;
	}
	.product {
		.product-in {
	    	background-size: 80% auto;
	    }
	}
	.p_order {

		.ord-block {
			width: 90%;
			font-size: 1em;
		}

		.sms-pass {
		    font-size: 0.75rem;
		}
	}
}
@media screen and (max-width: 360px) {
	html {
		font-size: 11px;
	}	
	.product {
		.product-in {
		    background-size: 70% auto;
		}
	}
}
@media screen and (max-width: 340px) {
	html {
		font-size: 10px;
	}
	html,
	body {
		min-width: 320px;
	}
	aside .orders-win {
		height: 34rem;
	}	
	.mobile-ordername {
	    &.orders-active {
	    	top: -31%;
	    }
	}
	aside .orders-ul .order-prods dt {
	    padding: 0 5.75rem 0 0;
	}
	aside .orders-ul .order-prods .xl-port {
	    margin: 0 1rem 0 0;
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 9px;
	}
}

//Ipad media
@media screen and (max-width: 800px) and (min-height: 1023px) {
	html {
		font-size: 12px;
	}
	.orders-win {
	    height: 23rem;
	}
	.orders-total {
	    bottom: 13rem;
	    margin: 0 0 0 1.8rem;
	    position: absolute;
	}
	aside {
		.aside-btns {
		    bottom: 5.2rem;
		    position: absolute;
		    width: 100%;
		}
	}
	.select-block {
		.select-info {
			font-size: 1em;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	aside {
    	.footer-links {
    		position: absolute;
		    bottom: 0.938rem;
		    left: 0;

		    width: 100%;
		}
    }
}
@media only screen 
and (max-width: 320px) 
and (max-height: 480px) 
and (orientation : portrait) { 
	html, body {
		min-height: 440px;
	}
	aside .orders-win {
	    height: 27rem;
	}
	.mobile-ordername {

	    &.orders-active {
	    	top: -39%;
	    }
	}
}